In [194]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [195]:
# Dataset for all the Cities in India
import requests
import csv
import json
import pandas as pd
from pandas import DataFrame as df
import os
import numpy as np

JSON_URL = 'https://api.covid19india.org/v4/min/timeseries-MH.min.json'
URL = 'https://api.covid19india.org/v4/min/timeseries-'
EXT = '.min.json'
JSON_INDIA = 'https://api.covid19india.org/v4/min/timeseries.min.json'

In [196]:
state_name = []


req_date = requests.get(JSON_URL)
req_India = requests.get(JSON_INDIA)

stateNames = df(req_India.json())
statesData = stateNames.T

for st in statesData.index:
     if not 'UN' in st:
         state_name.append(st)

unwanted_st = {'UN', 'TT', 'Other State', 'Other Region', 'Other', 'Unknown'} 
state_name = [ele for ele in state_name if ele not in unwanted_st]

    

dtcolNames =[]
covidData =[]
covidRec = []
covidDeath = []
otherData = []
tested = []

In [197]:
dates = df(req_date.json()['MH']['districts']['Mumbai'])
for dt in dates.index:
    dtcolNames.append(dt + ",")

In [198]:
def name_correction(state):
        if state == 'TT':
            state = "India Total"
            return state
        
        if state == 'AN':
            state = "Andaman and Nikobar Islands"
            return state
        
        if state == 'AP':
            state = "Andhra Pradesh"
            return state
        
        if state == 'AR':
            state = "Arunachal Pradesh"
            return state
        
        if state == 'AS':
            state = "Assam"
            return state
        
        if state == 'BR':
            state = "Bihar"
            return state
        
        if state == 'CH':
            state = "Chandigarh"
            return state
        
        if state == 'CT':
            state = "Chhattisgarh"    
            return state
        
        if state == 'DL':
            state = "Delhi"
            return state
        
        if state == 'DN':
            state = "Dadra NHDD"
            return state
        
        if state == 'GA':
            state = "Goa"
            return state
        
        if state == 'GJ':
            state = "Gujarat"
            return state
        
        if state == 'HP':
            state = "Himachal Pradesh"
            return state
        
        if state == 'HR':
            state = "Haryana"
            return state
        
        if state == 'JH':
            state = "Jharkhand"
            return state
        
        if state == 'JK':
            state = "Jammu and Kashmir"
            return state
        
        if state == 'KA':
            state = "Karnataka"
            return state
        
        if state == 'KL':
            state = "Kerala"
            return state
        
        if state == 'LA':
            state = "Ladakh"
            return state
        
        if state == 'MH':
            state = "Maharashtra"
            return state
        
        if state == 'ML':
            state = "Meghalaya"
            return state
        
        if state == 'MN':
            state ="Manipur"
            return state
        
        if state == 'MP':
            state = "Madhya Pradesh"
            return state
        
        if state == 'MZ':
            state = "Mizoram"
            return state
            
        if state == 'NL':
            state = "Nagaland"
            return state
        
        if state == 'OR':
            state ="Odisha"
            return state
        
        if state == 'PB':
            state = "Punjab"
            return state
        
        if state == 'PY':
            state = "Puducherry"
            return state
        
        if state == 'RJ':
            state = "Rajasthan"
            return state
        
        if state == 'SK':
            state ="Sikkim"
            return state
        
        if state == 'TG':
            state ="Telangana"
            return state
        
        if state == 'TN':
            state ="Tamil Nadu"
            return state
        
        if state == 'TR':
            state = "Tripura"
            return state
        
        if state == 'UP':
            state ="Uttar Pradesh"
            return state
        
        if state == 'UT':
            state = "Uttarakhand"
            return state
        
        if state == 'WB':
            state = "West Bengal"
            return state

In [199]:
for st in state_name:
    st_name = name_correction(st)
    #print ('statename: ' + st_name)
    dist_name  = []
  
    JSON_URL = URL + st + EXT
    req = requests.get(JSON_URL)    
    distNames = df(req.json())
    if 'districts' in distNames.index:
        distNames = df(req.json()[st]['districts'])
        distNames = distNames.T

        for dis in distNames.index:
            #print (st + " : " + dis)
            dist_name.append(dis)
 
  
        # items to be removed 
        unwanted_elem = {'Foreign Evacuees', 'Other State', 'Other Region', 'Others', 'Other', 'Unknown', 'Italians',
                         'Evacuees','BSF Camp', 'Airport Quarantine', 'Railway Quarantine', 'State Pool'} 
  
        dist_name = [ele for ele in dist_name if ele not in unwanted_elem]
            
        
                
        for dist  in dist_name:   
            
            i=0
            covidData.append('\n')
            
            
            if dist == st_name:
                dist_ = dist + " Region"
                #print(st_name + " : " + dist_)
                
            else:
                dist_ = dist  
            
            #print("final : " + dist_)
            covidData.append(st_name + "," + st + "," + dist_ + ",")
            
            covidRec.append('\n')
            covidRec.append(st_name + "," + st + "," + dist_ + ",")
            
            covidDeath.append('\n')
            covidDeath.append(st_name + "," + st + "," + dist_ + ",")
            
            otherData.append('\n')
            otherData.append(st_name + "," + st + "," + dist_ + ",")
            
            tested.append('\n')
            tested.append(st_name + "," + st + "," + dist_ + ",")
    
            covid = df(req.json()[st]['districts'][dist])
    
            
            for conf, dt in zip(covid.dates, covid.index):
                #print(dt)
                dt = dt + ","
                i+=1
                index = dtcolNames.index(dt) + 1
                if i!= index:
                    #print(st + ":" + dist + ":" + dt + ":  Ind: " + str(index) + ":" +  "i :" + str(i))
                    if i == 1:
                        for n in range(index-1):
                            covidData.append("0,")
                            covidRec.append("0,")
                            covidDeath.append("0,")
                            otherData.append("0,")
                            tested.append("No Data,")
                            
                    else:    
                        for n in range(index-i+1):
                            covidData.append("0,")
                            covidRec.append("0,")
                            covidDeath.append("0,")
                            otherData.append("0,")
                            tested.append("No Data,")
                            
                    i = index
                
               
                    
                for t in conf.keys():
                    if 'total' in t:
                        if 'confirmed' in (conf['total'].keys()):
                            covidData.append(str(conf['total']['confirmed']) + ",")
                        if not 'confirmed' in (conf['total'].keys()):
                            covidData.append("0,")
                    
                        if 'recovered' in (conf['total'].keys()):
                            covidRec.append(str(conf['total']['recovered']) + ",")
                        if not 'recovered' in (conf['total'].keys()):
                            covidRec.append("0,")
                    
                        if 'deceased' in (conf['total'].keys()):
                            covidDeath.append(str(conf['total']['deceased']) + ",")
                        if not 'deceased' in (conf['total'].keys()):
                            covidDeath.append("0,")
                        
                        if 'other' in (conf['total'].keys()):
                            otherData.append(str(conf['total']['other']) + ",")
                        if not 'other' in (conf['total'].keys()):
                            otherData.append("0,")
                        
                        if 'tested' in (conf['total'].keys()):
                            tested.append(str(conf['total']['tested']) + ",")
                        if not 'tested' in (conf['total'].keys()):
                            tested.append("No Data,")
                            
                            
                            
            if dt != dtcolNames[len(dtcolNames)-1]:
                diff = len(dtcolNames) - dtcolNames.index(dt)
                for n in range(diff):
                    covidData.append(covidData[len(covidData)-1])
                    covidDeath.append(covidDeath[len(covidDeath)-1])
                    covidRec.append(covidRec[len(covidRec)-1])
                    otherData.append(otherData[len(otherData)-1])
                    tested.append(tested[len(tested)-1])
                    
                
                
            
    else:
        print("State without sistrict's data : "+ st)

In [200]:
with open('Indian_Cities_total_confirmed_cases.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(covidData)
    
with open('Indian_Cities_total_recovered_cases.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(covidRec)

with open('Indian_Cities_total_Death_toll.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(covidDeath)

with open('Indian_Cities_other_counts.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(otherData)

with open('Indian_Cities_tests_counts.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(tested)

##############################################################################################################################

## Population Data

In [201]:
Population_URL = "https://api.covid19india.org/v4/min/data.min.json"
state_name = []
state_name_dist = []
st_name = []
state_p = []

st_name_dist = []
dist_p = []
dist_name = []

In [202]:
req_Pop = requests.get(Population_URL)
p_data = df(req_Pop.json())
population_data = p_data.T

In [203]:
for st in population_data.index:
     if not 'UN' in st:
         state_name.append(st)
         state_name_dist.append(st)

unwanted_st = {'UN', 'Other State', 'Other Region', 'Other', 'Unknown'}
unwanted_st_dist = {'UN', 'TT','Other State', 'Other Region', 'Other', 'Unknown'}
state_name = [ele for ele in state_name if ele not in unwanted_st]
state_name_dist = [ele for ele in state_name_dist if ele not in unwanted_st_dist]

In [204]:
for elem in state_name:
    st_name.append(name_correction(elem))
    state_p.append(p_data[elem]['meta']['population'])
    print(name_correction(elem), ":", p_data[elem]['meta']['population'])

Andaman and Nikobar Islands : 397000
Andhra Pradesh : 52221000
Arunachal Pradesh : 1504000
Assam : 34293000
Bihar : 119520000
Chandigarh : 1179000
Chhattisgarh : 28724000
Delhi : 19814000
Dadra NHDD : 959000
Goa : 1540000
Gujarat : 67936000
Himachal Pradesh : 7300000
Haryana : 28672000
Jharkhand : 37403000
Jammu and Kashmir : 13203000
Karnataka : 65798000
Kerala : 35125000
Ladakh : 293000
Maharashtra : 122153000
Meghalaya : 3224000
Manipur : 3103000
Madhya Pradesh : 82232000
Mizoram : 1192000
Nagaland : 2150000
Odisha : 43671000
Punjab : 29859000
Puducherry : 1504000
Rajasthan : 77264000
Sikkim : 664000
Telangana : 37220000
Tamil Nadu : 75695000
Tripura : 3992000
India Total : 1332900000
Uttar Pradesh : 224979000
Uttarakhand : 11141000
West Bengal : 96906000

In [205]:
df_state_p = {'State': st_name,
           'Population': state_p}

df_state_pop = pd.DataFrame(df_state_p, columns = ['State', 'Population'])
#df_state_pop

In [206]:
for elem in state_name_dist:
    if 'districts' in  p_data[elem]:
        for elem1 in p_data[elem]['districts']:
            if 'meta' in p_data[elem]['districts'][elem1]:
                if 'population' in p_data[elem]['districts'][elem1]['meta']:
                    st_name_dist.append(name_correction(elem))
                    dist_name.append(elem1)
                    dist_p.append(p_data[elem]['districts'][elem1]['meta']['population'])
            else:
                st_name_dist.append(name_correction(elem))
                dist_name.append(elem1)
                dist_p.append('NA')
                    #print(name_correction(elem), ":",elem1,":", p_data[elem]['districts'][elem1]['meta']['population'])
                #else:
                    #print(name_correction(elem), ":", elem1)

In [207]:
df_city_p = {'State': st_name_dist,
              'City/Region':dist_name,
           'Population': dist_p}

df_city_pop = pd.DataFrame(df_city_p, columns = ['State', 'City/Region', 'Population'])
#'Foreign Evacuees', 'Other State', 'Other Region', 'Others', 'Other', 'Unknown'

###############################################################################################################################

### Cities data

In [208]:
IN_data_sc = pd.read_csv("./Indian_Cities_total_confirmed_cases.csv")

In [209]:
#df_city_pop[df_city_pop['City/Region']=='Nashik']['Population'].values[0]
cr_pop_data = []
for cr in IN_data_sc['District'].values:
    if cr in df_city_pop['City/Region'].values:      
        cr_pop_data.append(df_city_pop[df_city_pop['City/Region']== cr]['Population'].values[0])
    else:
        if cr == 'Delhi Region':
            cr_pop_data.append(df_state_pop[df_state_pop['State'] == 'Delhi']['Population'].values[0])
        elif cr == 'Chandigarh Region':
            cr_pop_data.append(df_state_pop[df_state_pop['State'] == 'Chandigarh']['Population'].values[0])
        elif cr == 'Puducherry Region':
            cr_pop_data.append(df_state_pop[df_state_pop['State'] == 'Puducherry']['Population'].values[0])
        else:
            cr_pop_data.append('NA')

In [210]:
IN_data_sc['Population'] = cr_pop_data

In [211]:
IN_data_sc[IN_data_sc['Population'] == 'NA']

,State,State Code,District,2020-04-26,2020-04-27,2020-04-28,2020-04-29,2020-04-30,2020-05-01,2020-05-02,...,2020-09-13,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,Unnamed: 151,Population
15,Arunachal Pradesh,AR,Dibang Valley,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NA
19,Arunachal Pradesh,AR,Kra Daadi,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,NaN,NA
21,Arunachal Pradesh,AR,Lepa Rada,0,0,0,0,0,0,0,...,78,80,80,82,83,83,83,83,NaN,NA
28,Arunachal Pradesh,AR,Pakke Kessang,0,0,0,0,0,0,0,...,29,31,32,32,32,34,37,37,NaN,NA
89,Chhattisgarh,CT,Gaurela Pendra Marwahi,0,0,0,0,0,0,0,...,158,191,191,212,232,267,267,267,NaN,NA
263,Kerala,KL,Thiruvanathapuram,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NA
314,Madhya Pradesh,MP,Agar Malwa,11,11,11,12,12,12,12,...,304,308,309,314,321,327,333,333,NaN,NA
346,Madhya Pradesh,MP,Niwari,0,0,0,0,0,0,0,...,254,254,254,268,269,276,288,288,NaN,NA
368,Mizoram,MZ,Hnahthial,0,0,0,0,0,0,0,...,2,2,4,4,5,5,5,5,NaN,NA
369,Mizoram,MZ,Khawzawl,0,0,0,0,0,0,0,...,3,3,4,4,4,4,4,4,NaN,NA
375,Mizoram,MZ,Saitual,0,0,0,0,0,0,0,...,9,11,11,11,11,11,11,11,NaN,NA

In [212]:
state_sc  = IN_data_sc.groupby("State")

In [213]:
state_scatter = IN_data_sc.T
state_scatter

,0,1,2,3,4,5,6,7,8,9,...,623,624,625,626,627,628,629,630,631,632
State,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,...,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal
State Code,AP,AP,AP,AP,AP,AP,AP,AP,AP,AP,...,WB,WB,WB,WB,WB,WB,WB,WB,WB,WB
District,Anantapur,Chittoor,East Godavari,Guntur,Krishna,Kurnool,Prakasam,S.P.S. Nellore,Srikakulam,Visakhapatnam,...,Murshidabad,Nadia,North 24 Parganas,Paschim Bardhaman,Paschim Medinipur,Purba Bardhaman,Purba Medinipur,Purulia,South 24 Parganas,Uttar Dinajpur
2020-04-26,53,73,39,214,177,279,56,72,3,22,...,2,6,47,7,0,1,22,0,12,0
2020-04-27,53,73,39,237,210,292,56,79,4,22,...,2,6,47,7,0,1,22,0,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-18,51821,53323,83852,48393,23123,53435,40156,46590,34983,46057,...,4874,5986,44184,5939,8169,4058,9196,2624,14731,3029
2020-09-19,52298,54059,85247,48864,23591,53754,40826,47283,35468,46508,...,4959,6087,44685,6046,8371,4163,9369,2708,14947,3060
2020-09-20,52837,54853,86507,49446,24030,54029,41695,47727,35944,46850,...,5060,6189,45192,6180,8524,4261,9490,2785,15166,3110
Unnamed: 151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population,4083315,4170468,5151549,4889230,4529009,4046601,3392764,2966082,2699471,4288113,...,7102430,5168488,10082852,2882031,5094238,4835532,4417377,2927965,8153176,3000849

In [214]:
state_scatter.index[0:3]

Index(['State', 'State Code', 'District'], dtype='object')

In [215]:
state_scatter.index[3:-2]

Index(['2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30',
       '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
       ...
       '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20'],
      dtype='object', length=148)

In [216]:
date_len = len(state_scatter.index[3:-2]) 
date_len

148

In [217]:
state_list = state_scatter.iloc[0]
len(state_list)

633

In [218]:
num_city = len(state_scatter.iloc[2]) 
city_list = state_scatter.iloc[2]
state_list = state_scatter.iloc[0]
pop_list = state_scatter.iloc[-1]

city_sc = []
state_sc = []
pop_sc = []
for city, state, pop in zip(city_list, state_list, pop_list):
    for i in range(date_len):
        city_sc.append(city)
        state_sc.append(state)
        pop_sc.append(pop)

In [219]:
nullval = state_scatter.index[-2]
nullval

'Unnamed: 151'

In [220]:
state_scatter_= state_scatter.drop(index = ['State','State Code','District','Population', nullval])
#state_scatter_

In [221]:
len(state_scatter_.columns.values)

633

In [222]:
#list(state_scatter_)
cc_list = []
for i in list(state_scatter_): 
    cl = state_scatter_[i].tolist()
    for i in cl:
        cc_list.append(i)

In [223]:
len(cc_list)

93684

In [224]:
state_scatter_.drop(state_scatter_.columns[0:len(state_scatter_.columns.values)], axis =1)
len(state_scatter_.index)

148

In [225]:
date_list = []
for i in range(num_city):
    for ind in state_scatter_.index:
       date_list.append(ind)

In [226]:
len(date_list)

93684

In [227]:
index_list  = []
for i in range(len(date_list)):
    index_list.append(i)

In [228]:
len(index_list)

93684

In [229]:
df_data = {'Date': date_list,
           'State': state_sc,
          'City/Region': city_sc,
           'Population_Region' : pop_sc,
          'Confirmed Cases': cc_list}

In [230]:
df_scatter = pd.DataFrame(df_data, columns = ['Date', 'State', 'City/Region', 'Population_Region','Confirmed Cases'], index= index_list)
df_scatter

,Date,State,City/Region,Population_Region,Confirmed Cases
0,2020-04-26,Andhra Pradesh,Anantapur,4083315,53
1,2020-04-27,Andhra Pradesh,Anantapur,4083315,53
2,2020-04-28,Andhra Pradesh,Anantapur,4083315,54
3,2020-04-29,Andhra Pradesh,Anantapur,4083315,58
4,2020-04-30,Andhra Pradesh,Anantapur,4083315,61
...,...,...,...,...,...
93679,2020-09-16,West Bengal,Uttar Dinajpur,3000849,2937
93680,2020-09-17,West Bengal,Uttar Dinajpur,3000849,2981
93681,2020-09-18,West Bengal,Uttar Dinajpur,3000849,3029
93682,2020-09-19,West Bengal,Uttar Dinajpur,3000849,3060
93683,2020-09-20,West Bengal,Uttar Dinajpur,3000849,3110

In [231]:
IN_data_dt_sc = pd.read_csv("./Indian_Cities_total_Death_toll.csv")
IN_data_rec_sc = pd.read_csv("./Indian_Cities_total_recovered_cases.csv")
IN_data_other_sc = pd.read_csv("./Indian_Cities_other_counts.csv")
IN_data_tests_sc = pd.read_csv("./Indian_Cities_tests_counts.csv")

In [232]:
state_dt_sc  = IN_data_dt_sc.groupby("State")
state_rec_sc = IN_data_rec_sc.groupby("State")
state_other_sc = IN_data_other_sc.groupby("State")
state_tests_sc = IN_data_tests_sc.groupby("State")

In [233]:
state_scatter_dt = IN_data_dt_sc.T
state_scatter_rec = IN_data_rec_sc.T
state_scatter_other = IN_data_other_sc.T
state_scatter_tests = IN_data_tests_sc.T

In [234]:
nullval1 = state_scatter_dt.index[-1]
nullval2 = state_scatter_rec.index[-1]
nullval3 = state_scatter_other.index[-1]
nullval4 = state_scatter_tests.index[-1]

In [235]:
state_scatter_dt_= state_scatter_dt.drop(index = ['State','State Code','District', nullval1])
state_scatter_rec_ = state_scatter_rec.drop(index = ['State','State Code','District', nullval2])
state_scatter_other_ = state_scatter_other.drop(index = ['State','State Code','District', nullval3])
state_scatter_tests_ = state_scatter_tests.drop(index = ['State','State Code','District', nullval4])

In [236]:
dt_list = []
rec_list = []
other_list = []
tests_list = []

for i in list(state_scatter_dt_): 
    cl1 = state_scatter_dt_[i].tolist()
    for i in cl1:
        dt_list.append(i)

for i in list(state_scatter_rec_): 
    cl2 = state_scatter_rec_[i].tolist()
    for i in cl2:
        rec_list.append(i)

for i in list(state_scatter_other_): 
    cl3 = state_scatter_other_[i].tolist()
    for i in cl3:
        other_list.append(i)
        
for i in list(state_scatter_tests_): 
    cl4 = state_scatter_tests_[i].tolist()
    for i in cl4:
        tests_list.append(i)

In [237]:
df_scatter["Recovered Cases"] = rec_list
df_scatter['Death Toll'] = dt_list
df_scatter['Other'] = other_list
df_scatter['Tested'] = tests_list

In [238]:
active_sc = []
for i,j,k,l in zip(df_scatter['Confirmed Cases'], df_scatter['Recovered Cases'], df_scatter['Death Toll'], df_scatter['Other']):
    val = i-(j+k+l)
    if val <0:
        val = 0
    active_sc.append(val)

#IN_conf_covid['Active_Cases'] = IN_conf_covid.apply(lambda row: row.Confirmed_Cases - (row.Recovered_Cases + row.Death_Toll), axis = 1)
# Above statement is ideal in case of non negative values
df_scatter['Active Cases'] = active_sc
df_scatter[df_scatter['City/Region'] == 'Mumbai']

,Date,State,City/Region,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
42032,2020-04-26,Maharashtra,Mumbai,12442373,5407,641,204,0,No Data,4562
42033,2020-04-27,Maharashtra,Mumbai,12442373,5776,711,219,0,No Data,4846
42034,2020-04-28,Maharashtra,Mumbai,12442373,6169,798,244,0,No Data,5127
42035,2020-04-29,Maharashtra,Mumbai,12442373,6644,936,270,0,No Data,5438
42036,2020-04-30,Maharashtra,Mumbai,12442373,7061,1092,290,0,No Data,5679
...,...,...,...,...,...,...,...,...,...,...
42175,2020-09-16,Maharashtra,Mumbai,12442373,175974,135563,8280,365,964609,31766
42176,2020-09-17,Maharashtra,Mumbai,12442373,178385,136736,8323,367,977722,32959
42177,2020-09-18,Maharashtra,Mumbai,12442373,180668,137664,8375,370,990940,34259
42178,2020-09-19,Maharashtra,Mumbai,12442373,182203,142769,8425,370,990940,30639
42179,2020-09-20,Maharashtra,Mumbai,12442373,182203,142769,8425,370,990940,30639

In [239]:
#  Covid19 Statewise data(creating a separate csv as City specific CSV does not have data of some small towns which affects the overall state specific numbers)
import requests
from pandas import DataFrame as df

JSON_URL = 'https://api.covid19india.org/v4/min/timeseries.min.json'

state_name  = []
dtcolNames =[]
covidData =[]
covidRec = []
covidDeath = []
otherData = []
tested = []


#df = pd.read_json(JSON_URL)
req = requests.get(JSON_URL)


stateNames = df(req.json())
statesData = stateNames.T


for st in statesData.index:
    state_name.append(st)

unwanted_st = {'UN', 'Other State', 'Other Region', 'Other', 'Unknown'} 
state_name = [ele for ele in state_name if ele not in unwanted_st]


# # In case of fixed Dates
date_ = df(req.json()['TT'])
for dt in date_.index:
    dtcolNames.append(dt + ",")
    

for state in state_name:   
    
    st_name = name_correction(state)
    print(st_name)
  
    i=0
    covidData.append('\n')
    covidData.append(st_name + "," + state + "," )
    
    covidRec.append('\n')
    covidRec.append(st_name + "," + state + "," )
    
    covidDeath.append('\n')
    covidDeath.append(st_name + "," + state + "," )
    
    otherData.append('\n')
    otherData.append(st_name + "," + state + "," )
    
    tested.append('\n')
    tested.append(st_name + "," + state + "," )
    
    covid = df(req.json()[state])

     
            
    for conf, dt in zip(covid.dates, covid.index):
        dt = dt + ","
        i+=1
        index = dtcolNames.index(dt) + 1
        if i!= index:
           #print(st + ":" + dist + ":" + dt + ":  Ind: " + str(index) + ":" +  "i :" + str(i))
           if i == 1:
               for n in range(index-1):
                   covidData.append("0,")
                   covidRec.append("0,")
                   covidDeath.append("0,")
                   otherData.append("0,")
                   tested.append("No Data,")
           else:    
               for n in range(index-i+1):
                   covidData.append("0,")
                   covidRec.append("0,")
                   covidDeath.append("0,")
                   tested.append("No Data,")
                   
           i = index             
            
        
        for t in conf.keys():
            if 'total' in t:
                if 'confirmed' in (conf['total'].keys()):
                    covidData.append(str(conf['total']['confirmed']) + ",")
                if not 'confirmed' in (conf['total'].keys()):
                    covidData.append("0,")
                   
                if 'recovered' in (conf['total'].keys()):
                    covidRec.append(str(conf['total']['recovered']) + ",")
                if not 'recovered' in (conf['total'].keys()):
                    covidRec.append("0,")
                   
                if 'deceased' in (conf['total'].keys()):
                    covidDeath.append(str(conf['total']['deceased']) + ",")
                if not 'deceased' in (conf['total'].keys()):
                    covidDeath.append("0,")
                
                if 'other' in (conf['total'].keys()):
                    otherData.append(str(conf['total']['other']) + ",")
                if not 'other' in (conf['total'].keys()):
                    otherData.append("0,")
                    
                if 'tested' in (conf['total'].keys()):
                    tested.append(str(conf['total']['tested']) + ",")
                if not 'tested' in (conf['total'].keys()):
                    tested.append("No Data,")
          
    if dt != dtcolNames[len(dtcolNames)-1]:
          diff = len(dtcolNames) - dtcolNames.index(dt)
          for n in range(diff):
              covidData.append(covidData[len(covidData)-1])
              covidDeath.append(covidDeath[len(covidDeath)-1])
              covidRec.append(covidRec[len(covidRec)-1])  
              otherData.append(otherData[len(otherData)-1])
              tested.append(tested[len(tested)-1])


with open('Indian_States_total_confirmed_cases.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidData)
    
with open('Indian_States_total_recovered_cases.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidRec)

with open('Indian_States_total_Death_toll.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidDeath)


with open('Indian_States_other_count.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(otherData)

with open('Indian_States_tests_count.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(tested)

Andaman and Nikobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Delhi
Dadra NHDD
Goa
Gujarat
Himachal Pradesh
Haryana
Jharkhand
Jammu and Kashmir
Karnataka
Kerala
Ladakh
Maharashtra
Meghalaya
Manipur
Madhya Pradesh
Mizoram
Nagaland
Odisha
Punjab
Puducherry
Rajasthan
Sikkim
Telangana
Tamil Nadu
Tripura
India Total
Uttar Pradesh
Uttarakhand
West Bengal

In [240]:
IN_data_st = pd.read_csv("./Indian_States_total_confirmed_cases.csv")
col_no_st = len(IN_data_st.columns) - 2 
#col_no_st
IN_conf_st = IN_data_st.columns[col_no_st]
#IN_conf_st
IN_data_st.rename(columns = {IN_conf_st:'Confirmed_Cases'}, inplace = True)
#IN_data_st
IN_st = IN_data_st.drop(IN_data_st.columns[3:col_no_st], axis =1)
IN_conf_covid_st = IN_st.drop(IN_st.columns[[2,4]], axis =1)
IN_conf_covid_st.head(30)

                          State State Code  Confirmed_Cases
0   Andaman and Nikobar Islands         AN             3644
1                Andhra Pradesh         AP           625514
2             Arunachal Pradesh         AR             7250
3                         Assam         AS           156680
4                         Bihar         BR           168542
5                    Chandigarh         CH            10082
6                  Chhattisgarh         CT            84234
7                         Delhi         DL           246711
8                    Dadra NHDD         DN             2892
9                           Goa         GA            28022
10                      Gujarat         GJ           123337
11             Himachal Pradesh         HP            11908
12                      Haryana         HR           111257
13                    Jharkhand         JH            69860
14            Jammu and Kashmir         JK            63990
15                    Karnataka         KA           519537
16                       Kerala         KL           135723
17                       Ladakh         LA             3708
18                  Maharashtra         MH          1188015
19                    Meghalaya         ML             4559
20                      Manipur         MN             8724
21               Madhya Pradesh         MP           103065
22                      Mizoram         MZ             1578
23                     Nagaland         NL             5392
24                       Odisha         OR           179880
25                       Punjab         PB            97689
26                   Puducherry         PY            22456
27                    Rajasthan         RJ           114989
28                       Sikkim         SK             2342
29                    Telangana         TG           171306

In [241]:
st_pop_data = []
for cr in IN_conf_covid_st['State'].values:
    if cr in df_state_pop['State'].values:      
        st_pop_data.append(df_state_pop[df_state_pop['State']== cr]['Population'].values[0])
    else:
        st_pop_data.append('NA')

In [242]:
IN_conf_covid_st['Population_Region'] = st_pop_data

In [243]:
IN_conf_covid_st

                          State State Code  Confirmed_Cases  Population_Region
0   Andaman and Nikobar Islands         AN             3644             397000
1                Andhra Pradesh         AP           625514           52221000
2             Arunachal Pradesh         AR             7250            1504000
3                         Assam         AS           156680           34293000
4                         Bihar         BR           168542          119520000
5                    Chandigarh         CH            10082            1179000
6                  Chhattisgarh         CT            84234           28724000
7                         Delhi         DL           246711           19814000
8                    Dadra NHDD         DN             2892             959000
9                           Goa         GA            28022            1540000
10                      Gujarat         GJ           123337           67936000
11             Himachal Pradesh         HP            11908            7300000
12                      Haryana         HR           111257           28672000
13                    Jharkhand         JH            69860           37403000
14            Jammu and Kashmir         JK            63990           13203000
15                    Karnataka         KA           519537           65798000
16                       Kerala         KL           135723           35125000
17                       Ladakh         LA             3708             293000
18                  Maharashtra         MH          1188015          122153000
19                    Meghalaya         ML             4559            3224000
20                      Manipur         MN             8724            3103000
21               Madhya Pradesh         MP           103065           82232000
22                      Mizoram         MZ             1578            1192000
23                     Nagaland         NL             5392            2150000
24                       Odisha         OR           179880           43671000
25                       Punjab         PB            97689           29859000
26                   Puducherry         PY            22456            1504000
27                    Rajasthan         RJ           114989           77264000
28                       Sikkim         SK             2342             664000
29                    Telangana         TG           171306           37220000
30                   Tamil Nadu         TN           541993           75695000
31                      Tripura         TR            22029            3992000
32                  India Total         TT          5457283         1332900000
33                Uttar Pradesh         UP           354275          224979000
34                  Uttarakhand         UT            40963           11141000
35                  West Bengal         WB           225137           96906000

In [244]:
IN_data_dt_st = pd.read_csv("./Indian_States_total_Death_toll.csv")
#IN_data_dt_st.head()
IN_data_rec_st = pd.read_csv("./Indian_States_total_recovered_cases.csv")
#IN_data_rec_st.head()

IN_data_other_st = pd.read_csv("./Indian_States_other_count.csv")
#IN_data_rec_st.head()

IN_data_tests_st = pd.read_csv("./Indian_States_tests_count.csv")
#IN_data_rec_st.head()

col_rec_st = len(IN_data_rec_st.columns) - 2
col_name_rec_st = IN_data_rec_st.columns[col_rec_st]
IN_conf_covid_st['Recovered_Cases'] = IN_data_rec_st[col_name_rec_st].values
#IN_conf_covid_st

col_dt_st = len(IN_data_dt_st.columns) - 2
col_name_dt_st = IN_data_dt_st.columns[col_dt_st]
IN_conf_covid_st['Death_Toll'] = IN_data_dt_st[col_name_dt_st].values

col_other_st = len(IN_data_other_st.columns) - 2
col_name_other_st = IN_data_other_st.columns[col_other_st]
IN_conf_covid_st['Other'] = IN_data_other_st[col_name_other_st].values
#IN_conf_covid_st

col_tests_st = len(IN_data_tests_st.columns) - 2
col_name_tests_st = IN_data_tests_st.columns[col_tests_st]
IN_conf_covid_st['Tested'] = IN_data_tests_st[col_name_tests_st].values
#IN_conf_covid_st

IN_conf_covid_st['Country'] = 'India'
IN_conf_covid_st

,State,State Code,Confirmed_Cases,Population_Region,Recovered_Cases,Death_Toll,Other,Tested,Country
0,Andaman and Nikobar Islands,AN,3644,397000,3436,52,0,50035,India
1,Andhra Pradesh,AP,625514,52221000,541319,5359,0,5104131,India
2,Arunachal Pradesh,AR,7250,1504000,5280,13,0,220706,India
3,Assam,AS,156680,34293000,127335,562,3,2907044,India
4,Bihar,BR,168542,119520000,154443,864,1,5700336,India
5,Chandigarh,CH,10082,1179000,7138,120,3,62834,India
6,Chhattisgarh,CT,84234,28724000,46081,664,0,918455,India
7,Delhi,DL,246711,19814000,209632,4982,0,2555007,India
8,Dadra NHDD,DN,2892,959000,2645,2,29,59771,India
9,Goa,GA,28022,1540000,21760,342,0,237198,India
10,Gujarat,GJ,123337,67936000,103875,3320,0,3800469,India
11,Himachal Pradesh,HP,11908,7300000,7457,114,30,266012,India
12,Haryana,HR,111257,28672000,88697,1149,0,1681221,India
13,Jharkhand,JH,69860,37403000,55697,615,0,1765454,India
14,Jammu and Kashmir,JK,63990,13203000,40957,1001,0,1396729,India
15,Karnataka,KA,519537,65798000,413452,8023,19,4240044,India
16,Kerala,KL,135723,35125000,95698,536,71,2427374,India
17,Ladakh,LA,3708,293000,2666,49,0,44147,India
18,Maharashtra,MH,1188015,122153000,857933,32216,386,5872241,India
19,Meghalaya,ML,4559,3224000,2483,36,0,131433,India
20,Manipur,MN,8724,3103000,6723,55,0,209863,India
21,Madhya Pradesh,MP,103065,82232000,79158,1943,0,1822297,India
22,Mizoram,MZ,1578,1192000,1002,0,0,60759,India
23,Nagaland,NL,5392,2150000,4150,10,26,73611,India
24,Odisha,OR,179880,43671000,145675,754,0,2766976,India
25,Punjab,PB,97689,29859000,72598,2813,0,1579113,India
26,Puducherry,PY,22456,1504000,17209,448,0,135259,India
27,Rajasthan,RJ,114989,77264000,95469,1336,0,2826262,India
28,Sikkim,SK,2342,664000,1891,28,0,46690,India
29,Telangana,TG,171306,37220000,139700,1033,0,2488220,India
30,Tamil Nadu,TN,541993,75695000,486479,8811,0,6388583,India
31,Tripura,TR,22029,3992000,14787,239,23,356354,India
32,India Total,TT,5457283,1332900000,4359899,87386,780,63661060,India
33,Uttar Pradesh,UP,354275,224979000,283274,5047,0,8540604,India
34,Uttarakhand,UT,40963,11141000,27828,491,189,594476,India
35,West Bengal,WB,225137,96906000,195972,4359,0,2744862,India

In [245]:
active_st = []
for i,j,k,l in zip(IN_conf_covid_st['Confirmed_Cases'], IN_conf_covid_st['Recovered_Cases'], IN_conf_covid_st['Death_Toll'], IN_conf_covid_st['Other']):
    val_st = i-(j+k+l)
    if val_st <0:
        val_st = 0
    active_st.append(val_st)

IN_conf_covid_st['Active_Cases'] = active_st
IN_conf_covid_st

,State,State Code,Confirmed_Cases,Population_Region,Recovered_Cases,Death_Toll,Other,Tested,Country,Active_Cases
0,Andaman and Nikobar Islands,AN,3644,397000,3436,52,0,50035,India,156
1,Andhra Pradesh,AP,625514,52221000,541319,5359,0,5104131,India,78836
2,Arunachal Pradesh,AR,7250,1504000,5280,13,0,220706,India,1957
3,Assam,AS,156680,34293000,127335,562,3,2907044,India,28780
4,Bihar,BR,168542,119520000,154443,864,1,5700336,India,13234
5,Chandigarh,CH,10082,1179000,7138,120,3,62834,India,2821
6,Chhattisgarh,CT,84234,28724000,46081,664,0,918455,India,37489
7,Delhi,DL,246711,19814000,209632,4982,0,2555007,India,32097
8,Dadra NHDD,DN,2892,959000,2645,2,29,59771,India,216
9,Goa,GA,28022,1540000,21760,342,0,237198,India,5920
10,Gujarat,GJ,123337,67936000,103875,3320,0,3800469,India,16142
11,Himachal Pradesh,HP,11908,7300000,7457,114,30,266012,India,4307
12,Haryana,HR,111257,28672000,88697,1149,0,1681221,India,21411
13,Jharkhand,JH,69860,37403000,55697,615,0,1765454,India,13548
14,Jammu and Kashmir,JK,63990,13203000,40957,1001,0,1396729,India,22032
15,Karnataka,KA,519537,65798000,413452,8023,19,4240044,India,98043
16,Kerala,KL,135723,35125000,95698,536,71,2427374,India,39418
17,Ladakh,LA,3708,293000,2666,49,0,44147,India,993
18,Maharashtra,MH,1188015,122153000,857933,32216,386,5872241,India,297480
19,Meghalaya,ML,4559,3224000,2483,36,0,131433,India,2040
20,Manipur,MN,8724,3103000,6723,55,0,209863,India,1946
21,Madhya Pradesh,MP,103065,82232000,79158,1943,0,1822297,India,21964
22,Mizoram,MZ,1578,1192000,1002,0,0,60759,India,576
23,Nagaland,NL,5392,2150000,4150,10,26,73611,India,1206
24,Odisha,OR,179880,43671000,145675,754,0,2766976,India,33451
25,Punjab,PB,97689,29859000,72598,2813,0,1579113,India,22278
26,Puducherry,PY,22456,1504000,17209,448,0,135259,India,4799
27,Rajasthan,RJ,114989,77264000,95469,1336,0,2826262,India,18184
28,Sikkim,SK,2342,664000,1891,28,0,46690,India,423
29,Telangana,TG,171306,37220000,139700,1033,0,2488220,India,30573
30,Tamil Nadu,TN,541993,75695000,486479,8811,0,6388583,India,46703
31,Tripura,TR,22029,3992000,14787,239,23,356354,India,6980
32,India Total,TT,5457283,1332900000,4359899,87386,780,63661060,India,1009218
33,Uttar Pradesh,UP,354275,224979000,283274,5047,0,8540604,India,65954
34,Uttarakhand,UT,40963,11141000,27828,491,189,594476,India,12455
35,West Bengal,WB,225137,96906000,195972,4359,0,2744862,India,24806

In [246]:
#Drop India(Total cases)
#IN_conf_covid_st_sca = IN_conf_covid_st.drop(index =32)
#IN_conf_covid_st_sca

In [247]:
IN_data_sc_st = pd.read_csv("./Indian_States_total_confirmed_cases.csv")

In [248]:
st_pop_data_sc = []
for cr in IN_data_sc_st['State'].values:
    if cr in df_state_pop['State'].values:      
        st_pop_data_sc.append(df_state_pop[df_state_pop['State']== cr]['Population'].values[0])
    else:
        st_pop_data_sc.append('NA')

In [249]:
IN_data_sc_st['Population_Region'] = st_pop_data_sc

In [250]:
state_scatter_st = IN_data_sc_st.T

date_len_st = len(state_scatter_st.index[2:-2]) 
#date_len_st
state_list_st = state_scatter_st.iloc[0]
len(state_list_st)

36

In [251]:
pop_list_st = state_scatter_st.iloc[-1]

In [252]:
state_scatter_st.index

Index(['State', 'State Code', '2020-01-30', '2020-02-02', '2020-02-03',
       '2020-02-14', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       ...
       '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17',
       '2020-09-18', '2020-09-19', '2020-09-20', 'Unnamed: 209',
       'Population_Region'],
      dtype='object', length=211)

In [253]:
state_sc_st = []
pop_sc_st = []

for state in state_list_st:
    for i in range(date_len_st):
        state_sc_st.append(state)
        
for pop in pop_list_st:
    for i in range(date_len_st):
        pop_sc_st.append(pop)

nval = state_scatter_st.index[-2]
#nval
state_scatter_st= state_scatter_st.drop(index = ['State','State Code','Population_Region', nval])
#state_scatter_st

In [254]:
len(state_scatter_st.columns.values)

36

In [255]:
#list for Confirmed cases
cc_list_st = []
for i in list(state_scatter_st): 
    cl_st = state_scatter_st[i].tolist()
    for i in cl_st:
        cc_list_st.append(i)

#len(cc_list_st)

In [256]:
state_scatter_st = state_scatter_st.drop(state_scatter_st.columns[0:len(state_scatter_st.columns.values)], axis =1)
#state_scatter_st
#len(state_scatter_st.index)

In [257]:
# list for dates
date_list_st = []
for i in range(len(state_list_st)):
    for ind_st in state_scatter_st.index:
       date_list_st.append(ind_st)

#len(date_list_st)

In [258]:
#list for indexes
index_list_st  = []
for i in range(len(date_list_st)):
    index_list_st.append(i)

#len(index_list_st)

In [259]:
df_data_st = {'Date': date_list_st,
           'State': state_sc_st,
            'City/Region': state_sc_st,
            'Population_Region':pop_sc_st,
          'Confirmed Cases': cc_list_st}

df_scatter_st = pd.DataFrame(df_data_st, columns = ['Date', 'State', 'City/Region','Population_Region','Confirmed Cases'], index= index_list_st)
df_scatter_st[df_scatter_st['State'] == 'India Total']

            Date        State  City/Region  Population_Region  Confirmed Cases
6624  2020-01-30  India Total  India Total         1332900000                1
6625  2020-02-02  India Total  India Total         1332900000                2
6626  2020-02-03  India Total  India Total         1332900000                3
6627  2020-02-14  India Total  India Total         1332900000                3
6628  2020-03-02  India Total  India Total         1332900000                5
...          ...          ...          ...                ...              ...
6826  2020-09-16  India Total  India Total         1332900000          5115894
6827  2020-09-17  India Total  India Total         1332900000          5212677
6828  2020-09-18  India Total  India Total         1332900000          5305646
6829  2020-09-19  India Total  India Total         1332900000          5398220
6830  2020-09-20  India Total  India Total         1332900000          5457283

[207 rows x 5 columns]

In [260]:
state_scatter_dt_st = IN_data_dt_st.T
state_scatter_rec_st = IN_data_rec_st.T
state_scatter_other_st = IN_data_other_st.T
state_scatter_tests_st = IN_data_tests_st.T

nullval1 = state_scatter_dt_st.index[-1]
nullval2 = state_scatter_rec_st.index[-1]
nullval3 = state_scatter_other_st.index[-1]
nullval4 = state_scatter_tests_st.index[-1]

In [261]:
state_scatter_dtst_= state_scatter_dt_st.drop(index = ['State','State Code', nullval1])
state_scatter_recst_ = state_scatter_rec_st.drop(index = ['State','State Code', nullval2])
state_scatter_otherst_ = state_scatter_other_st.drop(index = ['State','State Code', nullval3])
state_scatter_testsst_ = state_scatter_tests_st.drop(index = ['State','State Code', nullval4])

In [262]:
df_scatter_st

,Date,State,City/Region,Population_Region,Confirmed Cases
0,2020-01-30,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0
1,2020-02-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0
2,2020-02-03,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0
3,2020-02-14,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0
4,2020-03-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0
...,...,...,...,...,...
7447,2020-09-16,West Bengal,West Bengal,96906000,212383
7448,2020-09-17,West Bengal,West Bengal,96906000,215580
7449,2020-09-18,West Bengal,West Bengal,96906000,218772
7450,2020-09-19,West Bengal,West Bengal,96906000,221960
7451,2020-09-20,West Bengal,West Bengal,96906000,225137

In [263]:
dt_list_st = []
rec_list_st = []
other_list_st = []
tests_list_st = []

for i in list(state_scatter_dtst_): 
    cl1_ = state_scatter_dtst_[i].tolist()
    for i in cl1_:
        dt_list_st.append(i)

for i in list(state_scatter_recst_): 
    cl2_ = state_scatter_recst_[i].tolist()
    for i in cl2_:
        rec_list_st.append(i)

for i in list(state_scatter_otherst_): 
    cl3_ = state_scatter_otherst_[i].tolist()
    for i in cl3_:
        other_list_st.append(i)
        
for i in list(state_scatter_testsst_): 
    cl4_ = state_scatter_testsst_[i].tolist()
    for i in cl4_:
        tests_list_st.append(i)

#len(rec_list_st)
df_scatter_st["Recovered Cases"] = rec_list_st
df_scatter_st['Death Toll'] = dt_list_st
df_scatter_st['Other'] = other_list_st
df_scatter_st['Tested'] = tests_list_st
df_scatter_st

,Date,State,City/Region,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested
0,2020-01-30,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data
1,2020-02-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data
2,2020-02-03,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data
3,2020-02-14,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data
4,2020-03-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data
...,...,...,...,...,...,...,...,...,...
7447,2020-09-16,West Bengal,West Bengal,96906000,212383,184113,4123,0,2608534
7448,2020-09-17,West Bengal,West Bengal,96906000,215580,187061,4183,0,2654070
7449,2020-09-18,West Bengal,West Bengal,96906000,218772,190021,4242,0,2699299
7450,2020-09-19,West Bengal,West Bengal,96906000,221960,193014,4298,0,2744862
7451,2020-09-20,West Bengal,West Bengal,96906000,225137,195972,4359,0,2744862

In [264]:
active_sc_st = []
for i,j,k,l in zip(df_scatter_st['Confirmed Cases'], df_scatter_st['Recovered Cases'], df_scatter_st['Death Toll'], df_scatter_st['Other']):
    val_ = i-(j+k+l)
    if val_ <0:
        val_ = 0
    active_sc_st.append(val_)

df_scatter_st['Active Cases'] = active_sc_st
df_scatter_st.tail(40)

,Date,State,City/Region,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
7412,2020-08-12,West Bengal,West Bengal,96906000,104326,76120,2203,0,1186923,26003
7413,2020-08-13,West Bengal,West Bengal,96906000,107323,78617,2259,0,1216955,26447
7414,2020-08-14,West Bengal,West Bengal,96906000,110358,81189,2319,0,1248272,26850
7415,2020-08-15,West Bengal,West Bengal,96906000,113432,83836,2377,0,1282486,27219
7416,2020-08-16,West Bengal,West Bengal,96906000,116498,86771,2428,0,1314772,27299
7417,2020-08-17,West Bengal,West Bengal,96906000,119578,89703,2473,0,1347091,27402
7418,2020-08-18,West Bengal,West Bengal,96906000,122753,92690,2528,0,1382198,27535
7419,2020-08-19,West Bengal,West Bengal,96906000,125922,95663,2581,0,1416556,27678
7420,2020-08-20,West Bengal,West Bengal,96906000,129119,98789,2634,0,1451615,27696
7421,2020-08-21,West Bengal,West Bengal,96906000,132364,101871,2689,0,1487844,27804
7422,2020-08-22,West Bengal,West Bengal,96906000,135596,104959,2737,0,1524162,27900
7423,2020-08-23,West Bengal,West Bengal,96906000,138870,108007,2794,0,1561311,28069
7424,2020-08-24,West Bengal,West Bengal,96906000,141837,111292,2851,0,1596578,27694
7425,2020-08-25,West Bengal,West Bengal,96906000,144801,114543,2909,0,1634102,27349
7426,2020-08-26,West Bengal,West Bengal,96906000,147775,117857,2964,0,1674133,26954
7427,2020-08-27,West Bengal,West Bengal,96906000,150772,121046,3017,0,1716607,26709
7428,2020-08-28,West Bengal,West Bengal,96906000,153754,124332,3073,0,1758728,26349
7429,2020-08-29,West Bengal,West Bengal,96906000,156766,127644,3126,0,1801960,25996
7430,2020-08-30,West Bengal,West Bengal,96906000,159785,130952,3176,0,1845396,25657
7431,2020-08-31,West Bengal,West Bengal,96906000,162778,134270,3228,0,1887635,25280
7432,2020-09-01,West Bengal,West Bengal,96906000,165721,137616,3283,0,1931373,24822
7433,2020-09-02,West Bengal,West Bengal,96906000,168697,140913,3339,0,1975493,24445
7434,2020-09-03,West Bengal,West Bengal,96906000,171681,144248,3394,0,2020784,24039
7435,2020-09-04,West Bengal,West Bengal,96906000,174659,147553,3452,0,2066404,23654
7436,2020-09-05,West Bengal,West Bengal,96906000,177701,150801,3510,0,2112185,23390
7437,2020-09-06,West Bengal,West Bengal,96906000,180788,154008,3562,0,2158690,23218
7438,2020-09-07,West Bengal,West Bengal,96906000,183865,157029,3620,0,2200906,23216
7439,2020-09-08,West Bengal,West Bengal,96906000,186956,160025,3677,0,2243294,23254
7440,2020-09-09,West Bengal,West Bengal,96906000,190063,162992,3730,0,2285936,23341
7441,2020-09-10,West Bengal,West Bengal,96906000,193175,166027,3771,0,2330283,23377
7442,2020-09-11,West Bengal,West Bengal,96906000,196332,169043,3828,0,2375609,23461
7443,2020-09-12,West Bengal,West Bengal,96906000,199493,172085,3887,0,2422740,23521
7444,2020-09-13,West Bengal,West Bengal,96906000,202708,175139,3945,0,2470058,23624
7445,2020-09-14,West Bengal,West Bengal,96906000,205919,178223,4003,0,2517595,23693
7446,2020-09-15,West Bengal,West Bengal,96906000,209146,181142,4062,0,2562821,23942
7447,2020-09-16,West Bengal,West Bengal,96906000,212383,184113,4123,0,2608534,24147
7448,2020-09-17,West Bengal,West Bengal,96906000,215580,187061,4183,0,2654070,24336
7449,2020-09-18,West Bengal,West Bengal,96906000,218772,190021,4242,0,2699299,24509
7450,2020-09-19,West Bengal,West Bengal,96906000,221960,193014,4298,0,2744862,24648
7451,2020-09-20,West Bengal,West Bengal,96906000,225137,195972,4359,0,2744862,24806

In [265]:
df_scatter

,Date,State,City/Region,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
0,2020-04-26,Andhra Pradesh,Anantapur,4083315,53,14,4,0,No Data,35
1,2020-04-27,Andhra Pradesh,Anantapur,4083315,53,14,4,0,No Data,35
2,2020-04-28,Andhra Pradesh,Anantapur,4083315,54,14,4,0,No Data,36
3,2020-04-29,Andhra Pradesh,Anantapur,4083315,58,17,4,0,No Data,37
4,2020-04-30,Andhra Pradesh,Anantapur,4083315,61,20,4,0,No Data,37
...,...,...,...,...,...,...,...,...,...,...
93679,2020-09-16,West Bengal,Uttar Dinajpur,3000849,2937,2599,27,0,No Data,311
93680,2020-09-17,West Bengal,Uttar Dinajpur,3000849,2981,2646,27,0,No Data,308
93681,2020-09-18,West Bengal,Uttar Dinajpur,3000849,3029,2695,28,0,No Data,306
93682,2020-09-19,West Bengal,Uttar Dinajpur,3000849,3060,2720,29,0,No Data,311
93683,2020-09-20,West Bengal,Uttar Dinajpur,3000849,3110,2763,31,0,No Data,316

### Final Data 
<b>df_scatter</b> : city specific data<br>
<b>df_scatter_st</b> :  state specific data

In [266]:
df_scatter.columns

Index(['Date', 'State', 'City/Region', 'Population_Region', 'Confirmed Cases',
       'Recovered Cases', 'Death Toll', 'Other', 'Tested', 'Active Cases'],
      dtype='object')

In [267]:
df_scatter_st.columns

Index(['Date', 'State', 'City/Region', 'Population_Region', 'Confirmed Cases',
       'Recovered Cases', 'Death Toll', 'Other', 'Tested', 'Active Cases'],
      dtype='object')

In [268]:
covid_frames = [df_scatter_st, df_scatter]

In [269]:
df_covid19 = pd.concat(covid_frames)

In [270]:
df_covid19

,Date,State,City/Region,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
0,2020-01-30,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data,0
1,2020-02-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data,0
2,2020-02-03,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data,0
3,2020-02-14,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data,0
4,2020-03-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,397000,0,0,0,0,No Data,0
...,...,...,...,...,...,...,...,...,...,...
93679,2020-09-16,West Bengal,Uttar Dinajpur,3000849,2937,2599,27,0,No Data,311
93680,2020-09-17,West Bengal,Uttar Dinajpur,3000849,2981,2646,27,0,No Data,308
93681,2020-09-18,West Bengal,Uttar Dinajpur,3000849,3029,2695,28,0,No Data,306
93682,2020-09-19,West Bengal,Uttar Dinajpur,3000849,3060,2720,29,0,No Data,311
93683,2020-09-20,West Bengal,Uttar Dinajpur,3000849,3110,2763,31,0,No Data,316

In [271]:
#df_covid19.to_csv('Covid19_Dashboard.csv', index = True)

## Analysis

### Confirmed cases per million:<br>How many cases out of every 10 lakh people in a particular region have tested positive for the virus?

In [272]:
confirmed_per_mn = []

for i,j in zip(df_covid19['Population_Region'].values, df_covid19['Confirmed Cases'].values):
    if not 'NA' in str(i):
        pmn = (j/i)*1000000
        confirmed_per_mn.append(pmn)
        #print(k, ":", pmn)
    else:
        confirmed_per_mn.append('NA')

In [273]:
df_covid19['Confirmed per million'] = confirmed_per_mn
#df_covid19['Confirmed per lakh'] = confirmed_per_lakh  # move left ny ine disgit 1mn : 25.18, 1 lakh : 2.51, 10k: 0.251

### Active Cases Ratio:<br>For every 100 confirmed cases, How many cases are currently infected?

In [274]:
active_ratio = []
for i,j in zip(df_covid19['Active Cases'].values, df_covid19['Confirmed Cases'].values):
    if not j == 0:
        ar = (i/j)*100
        #print(k, ":", ar)
        active_ratio.append(ar)
    else:
        active_ratio.append(0)

In [275]:
df_covid19['Active Ratio'] = active_ratio

### Recovered Cases Ratio:<br>For every 100 confirmed cases, How many have recovered from the virus?

In [276]:
recovery_ratio = []
for i,j in zip(df_covid19['Recovered Cases'].values, df_covid19['Confirmed Cases'].values):
    if not j == 0:
        rer = (i/j)*100
        #print(k, ":", ar)
        recovery_ratio.append(rer)
    else:
        recovery_ratio.append(0)

In [277]:
df_covid19['Recovery Ratio'] = recovery_ratio

### Case Fatality Ratio:<br>For every 100 confirmed cases, how many have have unfortunately passed away from the virus?

In [278]:
case_fatality_ratio = []
for i,j in zip(df_covid19['Death Toll'].values, df_covid19['Confirmed Cases'].values):
    if not j == 0:
        cfr = (i/j)*100
        #print(k, ":", ar)
        case_fatality_ratio.append(cfr)
    else:
        case_fatality_ratio.append(0)

In [279]:
df_covid19['Case Fatality Ratio'] = case_fatality_ratio

### Total Tests per million:<br>For every 10 lakh people in a particular region, How many samples were tested?
Always consider value of prior day as the data collection is completed for it and for current day collection is still in process.

In [280]:
tests_per_mn = []

for i,j in zip(df_covid19['Tested'].values, df_covid19['Population_Region'].values):
    if not ('No Data' in str(i) or 'NA' in str(j)):
        tmn = (int(i)/j)*1000000
        tests_per_mn.append(tmn)
            #print(k, ":", pmn)
    else:
        tests_per_mn.append('NA')

In [281]:
len(tests_per_mn)

101136

In [282]:
df_covid19['Tests per million'] = tests_per_mn

### Everyday increase in values (delta) for Confirmed, Active and Recovered cases

In [283]:
#TODO

In [284]:
df_covid19.to_csv('Covid19_Dashboard.csv', index = True)

### Average Growth Rate:<br> How much is the Average Growth Rate of new infections in last week?

In [286]:
#TODO
#(((previousDayData - SevenDayBeforeData)/SevenDayBeforeData)*100)/7
#temp = df_covid19[df_covid19['City/Region'] == 'Maharashtra']
#temp['Confirmed Cases'].pct_change(periods =7)