In [2]:
# Dataset for all the Cities in India
import requests
import csv
import json
import pandas as pd
from pandas import DataFrame as df
import os
import numpy as np

In [3]:
def name_correction(state):
        if state == 'TT':
            state = "India Total"
            return state
        
        if state == 'AN':
            state = "Andaman and Nikobar Islands"
            return state
        
        if state == 'AP':
            state = "Andhra Pradesh"
            return state
        
        if state == 'AR':
            state = "Arunachal Pradesh"
            return state
        
        if state == 'AS':
            state = "Assam"
            return state
        
        if state == 'BR':
            state = "Bihar"
            return state
        
        if state == 'CH':
            state = "Chandigarh"
            return state
        
        if state == 'CT':
            state = "Chhattisgarh"    
            return state
        
        if state == 'DL':
            state = "Delhi"
            return state
        
        if state == 'DN':
            state = "Dadra NHDD"
            return state
        
        if state == 'GA':
            state = "Goa"
            return state
        
        if state == 'GJ':
            state = "Gujarat"
            return state
        
        if state == 'HP':
            state = "Himachal Pradesh"
            return state
        
        if state == 'HR':
            state = "Haryana"
            return state
        
        if state == 'JH':
            state = "Jharkhand"
            return state
        
        if state == 'JK':
            state = "Jammu and Kashmir"
            return state
        
        if state == 'KA':
            state = "Karnataka"
            return state
        
        if state == 'KL':
            state = "Kerala"
            return state
        
        if state == 'LA':
            state = "Ladakh"
            return state
        
        if state == 'MH':
            state = "Maharashtra"
            return state
        
        if state == 'ML':
            state = "Meghalaya"
            return state
        
        if state == 'MN':
            state ="Manipur"
            return state
        
        if state == 'MP':
            state = "Madhya Pradesh"
            return state
        
        if state == 'MZ':
            state = "Mizoram"
            return state
            
        if state == 'NL':
            state = "Nagaland"
            return state
        
        if state == 'OR':
            state ="Odisha"
            return state
        
        if state == 'PB':
            state = "Punjab"
            return state
        
        if state == 'PY':
            state = "Puducherry"
            return state
        
        if state == 'RJ':
            state = "Rajasthan"
            return state
        
        if state == 'SK':
            state ="Sikkim"
            return state
        
        if state == 'TG':
            state ="Telangana"
            return state
        
        if state == 'TN':
            state ="Tamil Nadu"
            return state
        
        if state == 'TR':
            state = "Tripura"
            return state
        
        if state == 'UP':
            state ="Uttar Pradesh"
            return state
        
        if state == 'UT':
            state = "Uttarakhand"
            return state
        
        if state == 'WB':
            state = "West Bengal"
            return state

In [4]:
Population_URL = "https://api.covid19india.org/v4/min/data.min.json"
state_name = []
state_name_dist = []
st_name = []
state_p = []

In [5]:
req_Pop = requests.get(Population_URL)

In [6]:
p_data = df(req_Pop.json())
population_data = p_data.T

In [7]:
for st in population_data.index:
     if not 'UN' in st:
         state_name.append(st)
         state_name_dist.append(st)

unwanted_st = {'UN', 'Other State', 'Other Region', 'Other', 'Unknown'}
unwanted_st_dist = {'UN', 'TT','Other State', 'Other Region', 'Other', 'Unknown'}
state_name = [ele for ele in state_name if ele not in unwanted_st]
state_name_dist = [ele for ele in state_name_dist if ele not in unwanted_st_dist]

In [8]:

for elem in state_name:
    st_name.append(name_correction(elem))
    state_p.append(p_data[elem]['meta']['population'])
    print(name_correction(elem), ":", p_data[elem]['meta']['population'])

Andaman and Nikobar Islands : 397000
Andhra Pradesh : 52221000
Arunachal Pradesh : 1504000
Assam : 34293000
Bihar : 119520000
Chandigarh : 1179000
Chhattisgarh : 28724000
Delhi : 19814000
Dadra NHDD : 959000
Goa : 1540000
Gujarat : 67936000
Himachal Pradesh : 7300000
Haryana : 28672000
Jharkhand : 37403000
Jammu and Kashmir : 13203000
Karnataka : 65798000
Kerala : 35125000
Ladakh : 293000
Maharashtra : 122153000
Meghalaya : 3224000
Manipur : 3103000
Madhya Pradesh : 82232000
Mizoram : 1192000
Nagaland : 2150000
Odisha : 43671000
Punjab : 29859000
Puducherry : 1504000
Rajasthan : 77264000
Sikkim : 664000
Telangana : 37220000
Tamil Nadu : 75695000
Tripura : 3992000
India Total : 1332900000
Uttar Pradesh : 224979000
Uttarakhand : 11141000
West Bengal : 96906000

In [9]:
len(state_p)

36

In [10]:
df_state_p = {'State': st_name,
           'Population': state_p}

df_state_pop = pd.DataFrame(df_state_p, columns = ['State', 'Population'])

In [11]:
df_state_pop

                          State  Population
0   Andaman and Nikobar Islands      397000
1                Andhra Pradesh    52221000
2             Arunachal Pradesh     1504000
3                         Assam    34293000
4                         Bihar   119520000
5                    Chandigarh     1179000
6                  Chhattisgarh    28724000
7                         Delhi    19814000
8                    Dadra NHDD      959000
9                           Goa     1540000
10                      Gujarat    67936000
11             Himachal Pradesh     7300000
12                      Haryana    28672000
13                    Jharkhand    37403000
14            Jammu and Kashmir    13203000
15                    Karnataka    65798000
16                       Kerala    35125000
17                       Ladakh      293000
18                  Maharashtra   122153000
19                    Meghalaya     3224000
20                      Manipur     3103000
21               Madhya Pradesh    82232000
22                      Mizoram     1192000
23                     Nagaland     2150000
24                       Odisha    43671000
25                       Punjab    29859000
26                   Puducherry     1504000
27                    Rajasthan    77264000
28                       Sikkim      664000
29                    Telangana    37220000
30                   Tamil Nadu    75695000
31                      Tripura     3992000
32                  India Total  1332900000
33                Uttar Pradesh   224979000
34                  Uttarakhand    11141000
35                  West Bengal    96906000

In [12]:
st_name_dist = []
dist_p = []
dist_name = []

In [13]:
for elem in state_name_dist:
    if 'districts' in  p_data[elem]:
        for elem1 in p_data[elem]['districts']:
            if 'meta'in p_data[elem]['districts'][elem1]:
                if 'population' in p_data[elem]['districts'][elem1]['meta']:
                    st_name_dist.append(name_correction(elem))
                    dist_name.append(elem1)
                    dist_p.append(p_data[elem]['districts'][elem1]['meta']['population'])
                    #print(name_correction(elem), ":",elem1,":", p_data[elem]['districts'][elem1]['meta']['population'])
                #else:
                    #print(name_correction(elem), ":", elem1)

In [14]:
df_city_p = {'State': st_name_dist,
              'City/Region':dist_name,
           'Population': dist_p}

df_city_pop = pd.DataFrame(df_city_p, columns = ['State', 'City/Region', 'Population'])

In [15]:
df_city_pop

              State        City/Region  Population
0    Andhra Pradesh          Anantapur     4083315
1    Andhra Pradesh           Chittoor     4170468
2    Andhra Pradesh      East Godavari     5151549
3    Andhra Pradesh             Guntur     4889230
4    Andhra Pradesh            Krishna     4529009
..              ...                ...         ...
617     West Bengal    Purba Bardhaman     4835532
618     West Bengal    Purba Medinipur     4417377
619     West Bengal            Purulia     2927965
620     West Bengal  South 24 Parganas     8153176
621     West Bengal     Uttar Dinajpur     3000849

[622 rows x 3 columns]

In [16]:
df_city_pop.to_csv('Indian_Cities_Population.csv', index = True)

In [17]:
df_state_pop.to_csv('Indian_States_Population.csv', index = True)